/* LAYOUT RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
}

.container{
    border: 3px solid black;
    width: 70%;
    min-width: 600px;
    margin: 0 auto;
}

header{}

h1{
    text-align: center;
    color: #E53170;
    font-weight: 900;
    margin-top: 24px;
    margin-bottom: 38px;
}

p{
    text-align: center;
}

main{
    border: 3px solid purple;

}

main::after{
    content: '';
    display: table;
    clear:both;
}

.floating_card{
    border: 3px solid black;
    width: calc(100% / 3);
    float: left;
}